@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --main: #2C2F27;
    --button: #C0F13C;
    --background: #EBEDE8;
}

body {
    color: var(--main);
    background-color: var(--background);
}

.mask {
    -webkit-mask-image: linear-gradient( white 50%, white 50%);
    mask-image: linear-gradient(white 50%, white 50%);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none;
}